@using Library.Models;
<p>"Search for Books by title"</p>
@using(Html.BeginForm())
{
    @Html.TextBox("title")
    <input type="submit" value="Search">  
}
<p>@Html.ActionLink("Add a book to the library", "Create","Books")</p>
@foreach (Book book in @Model)
{
    <p>@Html.ActionLink(book.Title,"Details",new {id = book.Id})</p>
}