@using Library.Models;
@using System.Security.Claims

@{
    Layout = "_Layout";
}

<p>Search for Books by title</p>
@using (Html.BeginForm())
{
    @Html.TextBox("title")
    <input type="submit" value="Search">
}
@if (LibraryList.libraryList.Any(x => x == User.FindFirstValue(ClaimTypes.Name)))
{
    <p>@Html.ActionLink("Add a book to the library", "Create","Books")</p>
}

@foreach (Book book in @Model)
{
    <p>@Html.ActionLink(book.Title,"Details",new {id = book.Id})</p>
}