@using System.Security.Claims

<div>
  @if(User.FindFirstValue(ClaimTypes.Name) != null)
    {
    @if(LibraryList.libraryList.Any(x => x == User.FindFirstValue(ClaimTypes.Name)))
    {
      <p>You are logged in as a librarian -- see your @Html.ActionLink("patron page","Details","Patrons", new {id = @Model})</p>
    }
    else
    {
      <p>You are logged in as a patron -- see your @Html.ActionLink("patron page","Details","Patrons", new {id = @Model})</p>
    }
  }
  else
  {
    <p>You are not logged in</p>
  }
</div>