@using Library.Models

@{
  Layout = "_Layout";
}

<p>@Model.Name</p>

<ul>
  <p>Books by this author:</p>
  @foreach (AuthorBook join in @Model.Books)
  {
    <li>@Html.ActionLink(@join.Book.Title,"Details","Authors")</li>
  }
</ul>
