@using Library.Models

@{
    Layout = "_Layout";
}

@foreach (Author author in @Model)

{
    <p>@Html.ActionLink(@author.Name,"Details",new {id = @author.Id}) </p>
    @using(Html.BeginForm())
    {
        @Html.Hidden("authorid",@author.Id)
        <input type="submit" value="Add author to book"> 
    }
}